@font-face {
  font-family: rubik;
  src: url('../public/Rubik-Regular.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body{
  font-family: 'rubik';
  font-size: 16px;
}

hr{
  border-top: 0.1px solid;
  width: 100%;
}

a:-webkit-any-link{
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}

.bg-gray{
  background-color: #F6F6F6;
}

.bg-blue{
  background-color: #7E98DF;
}

.text-blue{
  color: #7E98DF;
}

.text-gray{
  color: #848484;
}

.login-container{
  width: 400px;
  min-height: 70vh;
  margin: 5rem 0;
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.login-input{
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
}

.btn-primary{
  height: 40px;
  background-color: #7E98DF;
  border: none;
  border-radius: 25px 25px 25px 25px;
}

.btn-secondary{
  height: 40px;
  color: #7E98DF;
  background-color: white;
  border: 1px solid #7E98DF;
  border-radius: 25px 25px 25px 25px;
}

.btn-secondary:hover{
  border: 1px solid #0062cc;
  background-color: #0069d9;
}

.btn-secondary:focus{
  box-shadow: none;
}

.chat-list{
  width: 300px;
  height: 100vh;
}

.home{
  width: auto;
  min-width: 100vh;
  height: 100vh;
}

#dropdown-nav{
  border-radius: 25px 7px 25px 25px;
  background-color: #7E98DF;
  padding: 2px 1rem;
}

#dropdown-item{
  color: white;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  gap: 10px;
}

#dropdown-item:hover{
  color: #7E98DF;
}

#dropdown-item:active{
  color: white;
  background-color: #0062cc;
}

#search-contact{
  width: 210px;
}

#send-message{
  min-width: 300px;
  width: 100%;
  height: 30px;
  resize: none;
}

#send-message:focus-visible, #search-contact:focus-visible{
  outline: none;
}

#chat-type{
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

#chat-type:active{
  outline: none;
  background-color: #7E98DF !important;
  color: white;
}

#chat-type:focus{
  outline: none;
  background-color: #7E98DF !important;
  color: white;
}

.chat-contact{
  margin: 0.5rem 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.chat-message{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 69vh;
}

.chat-time{
  font-size: 12px;
}

.chat-in{
  height: 20px;
  padding: 0 0.4rem;
  font-size: 12px;
  border-radius: 10px;
  max-width: 35px;
}

.chat-info{
  min-width: 150px;
  width: 150px;
}

.chat-name{
  font-size: 14px;
}

#chat{
  cursor: pointer;
}

#chat:hover{
  background-color: #F6F6F6;
}

.img-fit{
  object-fit: fill;
  min-width: 45px;
  min-height: 45px;
}

.chat-room{
  height: inherit;
  min-width: 120vh;
  width: 100%;
}

.receiver-header{
  height: 65px;
  width: 100%;
}

.receiver-name{
  min-width: 50vh;
  width: 125vh;
}

.send-message{
  height: 40px;
  border-radius: 10px;
}

.chat-sender{
  margin: 0.3rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px 25px 25px 5px;
  max-width: 500px;
}

.chat-receiver{
  margin: 0.3rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px 25px 5px 25px;
  max-width: 500px;
}

#chat-time{
  font-size: 12px;
}